@font-face {
  font-family: "bestigia";
  src: url("./Bestigia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("./IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
