.prev-month:hover,
.next-month:hover,
.reset-date:hover {
  cursor: pointer;
}

.reset-date {
  text-align: center;
  font-size: 120px;
  font-family: "bestigia";
  color: #000000;
}

.monthDate {
  font-family: "IBMPlexMono";
  text-align: center;
  font-size: 30px;
  flex: 2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1050px;
  height: 500px;
  align-content: space-between;
}
